html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #404040;
  min-height: 100vh;

  width: 100%;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

.root_loader {
  text-align: center;
  margin: 80px;
}

.root_loader.full {
  margin: 50vh;
}

.container {
  width: 100%;
  margin: 0 auto;
}
.page_container {
  min-height: 75vh;
}
.main_loader {
  text-align: center;
  margin-top: 100px;
}

.page_wrapper {
  padding-top: 85px;
}

a {
  text-decoration: none;
  color: inherit;
}

.bck_b_light {
  background: #272723;
}

.bck_b_dark {
  background: #272723;
}

.dialog_alert {
  padding: 51px;
  font-size: 30px;
}

.load_more_container {
  clear: both;
  margin-bottom: 50px;
  border-top: 5px solid #f5f5f5;
  padding-top: 20px;
}

.load_more_container span {
  cursor: pointer;
  background: #2196f3;
  color: #ffffff;
  font-size: 27px;
  padding: 10px 60px;
  display: table;
  margin: 0 auto;
}

.no_result {
  font-size: 40px;
  color: #999592;
  text-align: center;
  padding-top: 40px;
}

.not_found_container {
  font-size: 70px;
  text-align: center;
  padding-top: 70px;
  color: #dddddd;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 100px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.MuiFormControl-root {
  width: 100%;
}

.productTable {
  width: 100%;
}

.paginationBttns {
  width: 100%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #2b2eff;
}

.paginationActive a {
  color: white;
  background-color: #2b2eff;
}

.paginationDisabled a:hover {
  color: grey;
  background-color: grey;
}

/*============================
            HEADER
==============================*/
header {
  width: 100%;
  border-bottom: 1px solid white;
}

header .logo {
  font-family: "Monoton", cursive;
  color: #ffffff;
  font-size: 40px;
  padding: 11px 0px;
}

header a,
header span {
  cursor: pointer;
  margin-left: 20px;
}

header .container {
  display: flex;
}

header .container .left {
  width: 250px;
}

header .container .right {
  flex-grow: 1;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
header .container .right .top,
header .container .right .bottom {
  text-transform: uppercase;
  font-weight: 700;
  text-align: right;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px;
}

header .container .right .top {
  color: #c9c9c9;
  border-bottom: 1px solid #ffffff;
}

header .log_out_link {
  cursor: pointer;
  display: inline-block;
  margin-left: 20px;
}

/*============================
            FOOTER
==============================*/

footer .logo {
  text-align: center;
  font-family: "Monoton", cursive;
  color: #ffffff;
  font-size: 40px;
  padding: 11px 0px;
  border-bottom: 1px solid #4d4d4d;
}
footer .wrapper {
  display: flex;
  color: #828282;
}

.footerContainer {
  margin-top: 50%;
}

footer .left,
footer .right {
  flex: 1;
}

footer .business_nfo {
  display: flex;
  flex-wrap: wrap;
}

footer .business_nfo .tag {
  flex-grow: 1;
  position: relative;
  width: 50%;
  margin-bottom: 30px;
}

footer .business_nfo .MuiSvgIcon-root {
  position: absolute;
  font-size: 26px;
  top: 10px;
}

footer .business_nfo .nfo {
  padding-left: 40px;
}

.user_container {
  display: flex;
  margin-bottom: 50px;
  min-height: 700px;
}

.user_container .dashboard_title {
  margin-top: 20px;
}

.user_container .user_left_nav {
  border-right: 1px solid #f8f8f8;
  margin-top: 30px;
}

.user_container .user_left_nav .links {
  margin: 13px 0px 40px 0px;
}

.user_container .user_left_nav .links a {
  display: block;
  border-bottom: 1px solid #dddddd;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 0px;
  width: 280px;
}

.user_container .user_right {
  flex-grow: 1;
  padding: 0 0 0 29px;
}

.user_container .user_nfo_panel {
  background: #f8f8f8;
  padding: 20px;
  margin-top: 20px;
}

.user_container .user_nfo_panel h1 {
  margin: 0 0 20px 0;
  line-height: 32px;
  text-transform: uppercase;
  font-size: 25px;
}

.user_container .user_nfo_panel span {
  display: block;
  font-size: 18px;
  font-weight: 300;
}

.user_product_block {
  display: flex;
  flex-wrap: wrap;
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ebebeb;
}

.user_product_block .item {
  flex-grow: 1;
}

.notesContainer{
  border:dotted rgb(25, 62, 92);
  margin-top:20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
}

@media only screen and (max-width: 768px) {
  .customerContainer {
    overflow: hidden;
    font-size: 9px;
    width: 100%;
  
    
  }
.customerWrapper{
  position: relative;
}
  .user_container {
    display: grid;
    margin-bottom: 50px;
    min-height: 600px;
    width: 100%;
  }

  .searchBox {
    overflow: hidden;
    font-size: 9px;
    width: 100%;
    margin-right: 20%;
  }

  .customerTable {
    font-size: 9px;
    width: 90%;
  }

  .paginationContainer {
    display: none;
  }
  .user_right_nav {
    width: 10%;
  }

  .table {
    width: 100%;
    font-size: 7px;
   
  }

  .productTable {
    width: 90%;
    font-size: 16px;
  }

.productSearch{
  width:90%;
}
  td{
    font-size: 14px;
  }
}
